[Unit]
Description=dill
After=network.target

[Service]
Type=forking
User=root
WorkingDirectory=/root/dill
ExecStart=/root/dill/start_dill_node.sh
Restart=on-failure
RestartSec=5
MemoryLimit=400M
MemoryMax=1000M 

[Install]
WantedBy=multi-user.target
